---
layout: default
---

<div class="home">
{% for page in site.pages %}
  {% if (page.index-description) or (page.index-include) %}
  <div class="page-description">
    {% if page.icon %}
    <icon-small class="fa fa-{{ page.icon | split:'|' | first }}"></icon-small>
    {% endif %}
    <article class="post-content">
    {{ page.index-description }}
    {% if page.index-include %}{% include {{page.index-include}} %}{% endif %}
    </article>
    <div class="title-bar" style="border-color:{{ page.color }}">
      <h1><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
    </div>
  </div>
  {% endif %}
{% endfor %}
</div>
