div.posts {
    position: fixed;
    left: 0;
    width: 200px;
    background: #ff0000;
}

.post-excerpt {
    font-size: 12px;
}

.post-content {
    font-family: sans-serif;
    font-size: 13px;
}

article xm {
    background: #d8efff; 
    border: 1px solid #bfe4ff; 
    border-radius: 5px;
    padding: 0px 2px;
}

article xc { 
    font-family: 'Droid Sans Mono', monospace; 
    font-size: 12px;
    background: #dddddd;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    padding: 0px 2px; 
    color: #003459;
}

article xp { 
    font-family: 'Droid Sans Mono', monospace; 
    font-size: 12px; 
    background: #dddddd; 
    border: 1px solid #aaaaaa;
    border-radius: 5px; 
    padding: 0px 2px; 
    font-style: italic; 
}

article xn {
    font-weight: bold;
}

article xd {
    font-style: italic; 
    color: #003459;
}

article img {
    border: 1px solid #003459;
    width: 98%;
    border-radius: 5px;
    padding: 1px;
}

a img {
    display: block;
    margin: auto;
}